@import '/src/styles/variables.scss';

@mixin task-default {
  position: relative;
  border-radius: 5px;
  border: 2px;
  padding: 0.5rem;
  margin: 0.5rem 0.2rem 0;
  min-height: 70px;
  display: flex;
}

.task {
  @include task-default();

  background-color: $main;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  h4 {
    font-size: 1rem;
    color: $color-grey-100;
  }

  .subtasks {
    margin-top: 0.4rem;
    color: $color-grey-300;
    font-size: 0.7rem;
  }

  &-dropdown {
    padding: 5px;
    margin-right: -5px;
    align-self: flex-start;
  }

  svg {
    color: $color-grey-100;

    &:hover {
      opacity: 0.7;
    }
  }
}

.task-placeholder {
  @include task-default();
  border: 1px $purple solid;

  h4 {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $color-grey-100;
  }
}

.draggable {
  cursor: grabbing;
  opacity: 0.7;
}
