@import '/src/styles/variables.scss';

@mixin task-default {
  display: flex;
  position: relative;
  border-radius: 5px;
  border: 2px;
  padding: 0.5rem;
  margin: 0.5rem 0.2rem 0;
  min-height: 70px;
}

.task {
  @include task-default();

  background-color: $main;
  // align-items: center;
  justify-content: space-between;
  cursor: pointer;

  h4 {
    font-size: 1rem;
    color: $color-grey-100;
  }

  &-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-subtasks {
    margin-top: 0.4rem;
    color: $color-grey-300;
    font-size: 0.7rem;
  }

  &-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-dropdown {
    padding: 5px;
  }

  &-user {
    display: inline-block;
    color: $color-grey-100;
    border: $purple 1px solid;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1.5rem;
  }

  svg {
    color: $color-grey-100;

    &:hover {
      opacity: 0.7;
    }
  }
}

.task-placeholder {
  @include task-default();
  border: 1px $purple solid;

  h4 {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $color-grey-100;
  }
}

.draggable {
  cursor: grabbing;
  opacity: 0.7;
}
