@import '/src/styles/variables.scss';

.board {
  height: 100%;
  display: flex;
  background-color: $main-dark;
  padding: 1.5rem;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;

  .button-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background;
    border-radius: 5px;
    min-width: 130px;

    .add-column {
      display: flex;
      gap: 5px;
      color: $gray;
      align-items: center;
    }
  }
}
