@import '/src/styles/variables.scss';

.column {
  background-color: $background;
  height: 100%;
  border-radius: $border-radius-sm;
  max-width: 100%;

  &-title {
    display: flex;
    align-items: center;
    color: $gray;
    gap: 5px;

    svg:hover {
      opacity: unset !important;
    }

    &-button {
      max-width: 10rem;
      text-wrap: nowrap;
      overflow: hidden;
    }

    &-input {
      background-color: $background;
      color: $color-grey-0;
      border: $purple 1px solid;
      height: 1.2rem;
      max-width: 10rem;

      &:focus {
        outline: $purple;
        max-width: 10rem;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      svg {
        color: $color-grey-100;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &-container {
    min-width: 250px;
    height: 100%;
    max-width: 250px;
    padding: 0.5rem;
  }
}

.column-placeholder {
  height: 100%;
  border: 1px $purple solid;
  border-radius: 5px;
}
