$main: #2c2c38;
$main-dark: #21212d;
$purple: #645fc6;
$gray: #707684;
$background: #21242d;
$color-grey-0: #fff;
$color-grey-100: #f3f4f6;
$color-grey-300: #d1d5db;
$color-grey-500: #6b7280;

$color-red-700: #b91c1c;

$border-radius-lg: 9px;

$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
$shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

$backdrop-color: rgba(255, 255, 255, 0.1);

$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$border-radius-xl: 20px;
